In [1]:
import numpy as np
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import requests
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
import time
import re

In [53]:
years = list()
months = list()
book_ranks = list()
book_titles = list()

In [ ]:
driver = webdriver.Chrome()

for year in range(2008, 2022):
    for month in range(1,13):
            url = 'http://www.yes24.com/24/category/bestseller?CategoryNumber=001001026&sumgb=09&year=' + str(year) + '&month=' + str(month).zfill(2) + '&FetchSize=200'
            driver.get(url)
            driver.implicitly_wait(3)


            for i in (range(1,100,2)):
                rank=driver.find_element_by_xpath(f'/html/body/div/div[2]/div[2]/table/tbody/tr['+str(i)+']/td[1]').text
                title=driver.find_element_by_xpath(f'/html/body/div/div[2]/div[2]/table/tbody/tr['+str(i)+']/td[3]/p[1]/a[1]').text
                years.append(year)
                months.append(month)
                book_ranks.append(rank)
                book_titles.append(title)
                
            

    
print(years)
print(months)
print(book_ranks)
print(book_titles)

In [50]:
books=pd.DataFrame(book_ranks, columns=['rank'])
books['title']=pd.DataFrame(book_titles)
books['year']=years
books['month']=months

In [51]:
books

    rank             title  year  month
0     1.    The Secret 시크릿  2008      1
1     2.      마시멜로 두번째 이야기  2008      1
2     3.            무지개 원리  2008      1
3     4.                친구  2008      1
4     5.    몰입 Think hard!  2008      1
..   ...               ...   ...    ...
195  46.    몰입 Think hard!  2009      2
196  47.  성공하는 사람들의 7가지 습관  2009      2
197  48.            젊음의 탄생  2009      2
198  49.       사람을 얻는 기술 2  2009      2
199  50.        호오포노포노의 비밀  2009      2

[200 rows x 4 columns]

In [52]:
books.to_csv('books.csv', encoding='utf-8')